.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-top-panes {
  background-color: #282c34;
  display: flex;
  flex-direction: row;

  font-size: calc(10px + 2vmin);
  color: white;

  height: 60vh;
}

.App-link {
  color: #61dafb;
}

.App-bottom-panes {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
