.App {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  justify-content: space-around;
  align-items: center;
}

button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 30px;
  width: 100%;

  text-decoration: none;
  background: #ffffff;
  color: #333;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;
  text-align: center;
  border: 5px solid black;

  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #bbb;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
