.Grid {
  display: flex;
  flex-direction: column;

  border: 5px solid #666;
}

.Grid-row {
  display: flex;
  flex-direction: row;
}

.Grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid #666;
}

.Grid-cell-label {
  font-size: 36px;
  font-weight: bold;
}
