.HintPanel {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 20vh;

  border: 5px solid black;

  margin-bottom: 94px;
}

.HintPanel-row {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.HintPanel-label {
  font-size: 46px;
  font-weight: bold;
}
