.HintPanel {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  width: 20vw;

  border: 5px solid black;

  margin-bottom: 94px;
}

.HintPanel-arrows {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.HintPanel-row {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.HintPanel-label {
  font-size: 46px;
  font-weight: bold;
}

.HintPanel-best-move-label {
  font-size: 28px;
  font-weight: bold;

  width: 80px;
  text-align: center;
}
